/* Dashboard (Da CSS file) Brandon McCrave 11/16/2025 Initial Creation */


.dashboard-header {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.dashboard-logo{
    display: flex;
    align-items: center;

}

.dashboard-logo img{
    height: 50px;
    margin-right: 10px;
}

.dashboard-links{
    display: flex;
    gap: 20px;
}

.dashboard-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dashboard-links a:hover{
    text-decoration: underline;
}

